<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis temporibus quae impedit molestias neque
            ad unde ipsa repudiandae modi, aspernatur qui ducimus dolores pariatur explicabo deserunt doloremque iure,
            in quasi! Alias sunt autem, perferendis maiores ducimus nisi dolore provident eveniet!</p>
    </div>
</div>