<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae atque magni totam voluptatum porro cupiditate
        iusto, ducimus harum. Perferendis sunt praesentium voluptatibus optio est, minima iusto ipsum quae impedit
        tempore.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Fazweb</a>
</div>